body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#maxInput {
    padding: 12px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    border: 2px solid #4fc3f7;
    outline: none;
    background-color: #1e293b;
    color: #fff;
    text-align: center;
    transition: 0.3s;
}
#maxInput:focus {
    border-color: #ff4081;
    box-shadow: 0px 0px 10px rgba(255, 64, 129, 0.8);
}
#button {
    font-size: 1.8em;
    padding: 12px 35px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #ff4081, #ff8f00);
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 6px 20px rgba(255, 64, 129, 0.4);
    margin-top: 20px;
}

#button:hover {
    background: linear-gradient(135deg, #ff8f00, #ff4081);
    box-shadow: 0px 8px 25px rgba(255, 64, 129, 0.7);
    transform: scale(1.1);
}

#myid {
    font-size: 3em;
    font-weight: bold;
    color: #4fc3f7;
    text-shadow: 0px 0px 15px rgba(79, 195, 247, 0.7);
    margin-top: 25px;
}
#myid:hover {
    color: #ff4081;
    text-shadow: 0px 0px 25px rgba(255, 64, 129, 0.9);
    transform: scale(1.1);
}

footer {
    position:fixed; 
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.3); 
}

.footer-text {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    opacity: 0.8;
}
footer:hover {
    text-shadow: 0px 0px 15px rgba(86, 255, 64, 0.9);
    transform: scale(1.1);
}

* {
    transition: all 0.3s ease-in-out;
}
